<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkcloud.risk.mapper.ViewDetailMapper">

    <resultMap id="viewLogResultMap" type="com.kkcloud.risk.dto.ViewLogsDetailsDTO">
        <result property="audit_id" column="audit_id" />
        <result column="user_name" property="user_name" />
        <result column="updated_date" property="updated_date" />
        <collection property="details" ofType="com.kkcloud.risk.dto.ViewLogsDTO">
            <result column="field_type" property="field_type" />
            <result column="operation" property="operation" />
            <result column="before_value" property="before_value" />
        </collection>
    </resultMap>

    <select id="outputViewLog" resultMap="viewLogResultMap" parameterType="com.kkcloud.risk.dto.ViewDetailDTO">
        SELECT e.audit_id, e.updated_date, e.operation, e.field_type, e.before_value, u.user_name
        FROM entry_logs AS e
        LEFT JOIN user_login AS u ON u.user_id = e.user_id
        WHERE e.entry_id = #{entry_id}
        ORDER BY e.updated_date DESC
    </select>

</mapper>